*.o
*.lo
*.la
*.log
*.trs
*.BAK
.*.swp
.deps
.libs
depcomp
Makefile
Makefile.in
argux/argux
arguxd/arguxd
aclocal.m4
autom4te.cache
INSTALL
stamp-h1
libtool
compile
config.log
config.status
config.guess
config.h
config.h.in
*~
config.sub
configure
install-sh
ltmain.sh
missing
test-driver
docs/man/argux.1
docs/man/arguxd.1
docs/man/libargux.3
docs/man/argux.conf.5
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
po/argux.pot
tests/libargux/*-helper
tests/plugins/plugin-loader
m4/libtool.m4
m4/ltversion.m4
m4/ltsugar.m4
m4/ltoptions.m4
m4/lt~obsolete.m4
m4/intltool.m4
*~
